.all-jobs-container {
  background-color: #000000;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.jobs-heading {
  color: #ffffff;
}

.side-bar-container {
  width: 25%;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 25px;
  width: 100%;
  height: 35vh;
  border-radius: 25px;
}

.profile-icon {
  color: blue;
  font-size: 50px;
}

.profile-name {
  color: #505068;
  font-family: 'Roboto';
}

.profile-description {
  font-family: 'Roboto';
  color: #000000;
  font-weight: bold;
}

.hr-line {
  border: 2px solid grey;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.text {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
}

.check-boxes-container {
  list-style: none;
}

.li-container {
  margin-bottom: 10px;
}

.input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.label {
  color: #ffffff;
  font-size: 20px;
}

.radio {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.failure-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
}

.failure-img {
  width: 90%;
  height: 350px;
}

.failure-button {
  color: #ffffff;
  background-color: #6366f1;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.jobs-container {
  width: 72%;
  height: 100%;
}

.jobs-failure-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.failure-heading {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
}

.failure-paragraph {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
}

.search-input {
  background-color: transparent;
  border: 2px solid grey;
  border-right: none;
  height: 40px;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 50px;
  padding-left: 10px;
  font-size: 20px;
  color: #ffffff;
}

.search-button {
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 39px;
  cursor: pointer;
  border: 0;
  background-color: #202020;
}

.search-icon {
  color: #ffffff;
  font-size: 20px;
}

.no-jobs-container {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
}

.no-jobs-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .all-jobs-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .side-bar-container {
    width: 100%;
  }

  .search-input {
    width: 80%;
  }

  .jobs-container {
    width: 100%;
  }

  .ul-job-items-container {
    width: 100%;
    padding: 0;
  }

  .failure-img {
    width: 90%;
    height: 90%;
  }
}
/*
.AllJobs-container-page {
  height: 2129vh;
  width: 100%;
  background-color: #000000;
  display: flex;
}

.left-program-type-range-container {
  background-color: #000000;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-container-loader-fail-success {
  margin: 10px;
  margin-top: 20px;
  height: 30vh;
  width: 90%;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-button {
  height: 42px;
  width: 100px;
  background-color: #4f46e5;
  color: #fff;
  font-size: 13px;
  font-family: 'Roboto';
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.profile-success-container {
  height: 30vh;
  width: 90%;
  border-radius: 8px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
}

.profile-image {
  height: 60px;
  width: 60px;
}

.heading-profile-name {
  font-family: 'Roboto';
  font-size: 24px;
  color: #6366f1;
  font-weight: bold;
}

.para-profile-bio {
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  color: #64748b;
}

.hr-line {
  height: 2px;
  width: 90%;
  background-color: #64748b;
}

.left-heading-type-salary {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  align-self: flex-start;
  padding-left: 10%;
}

.check-boxes-container {
  list-style: none;
}

.li-container {
  margin-bottom: 10px;
}

.input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.label {
  color: #ffffff;
  font-size: 20px;
}

.radio {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.right-program-type-range-container {
  max-height: 100vh;
  width: 70%;
}

.searchbuttonicon-container {
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.search-button-icon-row {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 50%;
  border: 1px solid #64748b;
  border-radius: 7px;
}
.search-input {
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto';
  height: 40px;
  width: 85%;
  background-color: #000000;
  border: 1px solid #64748b;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.button-icons {
  height: 38px;
  width: 16%;
  background-color: #64748b;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #64748b;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 30px;
  color: #fff;
}

.loader-container-jobDescription {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30vh;
}

.jobs-result-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-onGetProfileFailureView-response-view-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.failure-view-image {
  margin-top: 5vh;
  height: 400px;
  width: 500px;
}

.heading-failure-response-view {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff;
  margin: 5px;
}
.para-failure-response-view {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #fff;
}
.no-jobs-found-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-job_-found-image {
  height: 320px;
  width: 450px;
}

.jobs-listitem-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  list-style-type: none;
}
*/
