.login-form-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.LoginForm-container {
  height: 40vh;
  width: 90%;
  border-radius: 10px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website-login-image {
  height: 45px;
  width: 130px;
  margin: 5px;
}

.input-label-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: 100%;
  margin: 10px;
}

.input-label {
  align-self: flex-start;
  padding-left: 10%;
  font-size: 12px;
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: bold;
}

.input-filed {
  height: 45px;
  width: 80%;
  margin-bottom: 15px;
  border: 1px solid #64748b;
  background-color: #272727;
  border-radius: 7px;
  padding-left: 10px;
  color: #ffff;
}

.button-login {
  height: 38px;
  width: 79%;
  background-color: #4f46e5;
  border: none;
  color: #ffff;
  font-size: 12px;
  font-family: 'Roboto';
  border-radius: 7px;
  font-weight: bold;
}

.errorMsg-para {
  color: #ff0b37;
  font-size: 12px;
  font-family: 'Roboto';
  align-self: flex-start;
  padding-left: 10%;
  font-weight: normal;
}

@media screen and (min-width: 767px) {
  .login-form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }

  .LoginForm-container {
    height: 400px;
    width: 450px;
    border-radius: 10px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .website-login-image {
    height: 50px;
    width: 140px;
    margin: 10px;
  }

  .input-label-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 100%;
    margin: 10px;
  }

  .input-label {
    align-self: flex-start;
    padding-left: 10%;
    font-size: 12px;
    color: #f8fafc;
    font-family: 'Roboto';
    font-weight: bold;
  }

  .input-filed {
    height: 45px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #64748b;
    background-color: #272727;
    border-radius: 7px;
    padding-left: 10px;
    color: #ffff;
  }

  .button-login {
    height: 38px;
    width: 79%;
    background-color: #4f46e5;
    border: none;
    color: #ffff;
    font-size: 12px;
    font-family: 'Roboto';
    border-radius: 7px;
    font-weight: bold;
  }

  .errorMsg-para {
    color: #ff0b37;
    font-size: 12px;
    font-family: 'Roboto';
    align-self: flex-start;
    padding-left: 10%;
    font-weight: normal;
  }
}
